# Web Framework
fastapi
starlette
uvicorn

# Data Validation & Settings
pydantic
pydantic[email]
pydantic-settings

# Task Queue & Message Broker
celery
flower
redis
pika

# Database
pymongo

# Utilities
requests
itsdangerous
pytz
typing
pathlib
urllib3

# HTML/Text Processing
beautifulsoup4
markdownify

# Image Processing
pillow

# Data Processing
numpy

fsspec

#### these are for web browser
# selenium
# webdriver_manager
