requests
celery
flower
redis
fastapi
pydantic
pydantic[email]
pydantic-settings
starlette
pymongo
pika
itsdangerous
pytz
uvicorn
typing
pathlib
urllib3
beautifulsoup4
markdownify

#### these are for web browser
# selenium
# webdriver_manager
